<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter Result:</title>
  </head>
  <body>
    <h1>Your word choice:"@Model.GetWord()" in sentence "@Model.GetSentence()"</h1>
    <br>
    <h3>Your Word searched is:@Model.CountRepeats()</h3>

  </body>
</html>
